/* =========================================================
   ABOUT
========================================================= */

.about-container{
  display:flex;
  align-items:center;
  gap:80px;
}

.about-image img{
  width:450px;
  border-radius:20px;
}

.about-text h3{
  font-size:2rem;
  margin-bottom:20px;
}

.about-text p{
  color:#bbbbbb;
  line-height:1.8;
  margin-bottom:20px;
}

.about-stats{
  display:flex;
  gap:20px;
  margin-top:35px;
  flex-wrap:wrap;
  justify-content:center;
}


.stat{

  padding:18px 24px;

  border-radius:16px;

  background:rgba(255,255,255,0.03);

  border:1px solid rgba(0,225,255,0.15);

  backdrop-filter:blur(10px);

  min-width:140px;

  transition:all 0.25s ease;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.25);

  cursor:default;
}

.stat h4{
  color:#00e0ff;
  font-size:26px;
  margin-bottom:8px;
}

.stat span{
  color:#aaa;
  font-size:14px;
}

.stat:hover{
  transform:translateY(-6px) scale(1.02);

  border-color:rgba(0,225,255,0.6);

  background:rgba(0,225,255,0.06);

  box-shadow:
    0 15px 35px rgba(0,225,255,0.1);
}

.cv-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cv-card {
  flex: 1 1 300px;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 15px;
  backdrop-filter: blur(10px);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cv-card:hover {
  transform:translateY(-6px) scale(1.02);

  border-color:rgba(0,225,255,0.6);

  background:rgba(0,225,255,0.06);

  box-shadow:
    0 15px 35px rgba(0,225,255,0.1);
}

.cv-card h4 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.cv-card iframe {
  width: 100%;
  height: 220px;
  border: none;
  border-radius: 10px;
  margin-bottom: 12px;
}

.cv-button {
  display: inline-block;
  padding: 10px 16px;
  background: #ffffff10;
  border: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.cv-button:hover {
  background: #ffffff25;
  border-color: #fff;
}