/* =========================================================
   ABOUT
========================================================= */

.about-container{
  display:flex;
  align-items:center;
  gap:80px;
}

.about-image {
  position: relative;
  display: inline-block;
}

.about-image img {
  width: 450px;
  height: 600px;
  object-fit: cover;
  object-position: center top;
  border-radius: 50px;
}

/* viñeta en bordes */
.about-image::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  pointer-events: none;

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.about-text h3{
  font-size:2rem;
  margin-bottom:20px;
}

.about-text p{
  color:#bbbbbb;
  line-height:1.8;
  margin-bottom:20px;
}

.about-stats{
  display:flex;
  gap:20px;
  margin-top:35px;
  flex-wrap:wrap;
}


.stat{

  padding:18px 24px;

  border-radius:16px;

  background:rgba(255,255,255,0.03);

  border:1px solid rgba(0,225,255,0.15);

  backdrop-filter:blur(10px);

  min-width:140px;

  transition:all 0.25s ease;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.25);

  cursor:default;
}

.stat h4{
  color:#00e0ff;
  font-size:26px;
  margin-bottom:8px;
}

.stat span{
  color:#aaa;
  font-size:14px;
}

.stat:hover{
  transform:translateY(-6px) scale(1.02);

  border-color:rgba(0,225,255,0.6);

  background:rgba(0,225,255,0.06);

  box-shadow:
    0 15px 35px rgba(0,225,255,0.1);
}
