/* =========================================================
   RESET / GLOBAL
========================================================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#070707;
  color:white;
  font-family:'Inter', sans-serif;
  overflow-x:hidden;
}

section{
  scroll-margin-top:20px;
}

/* =========================================================
   GENERAL SECTIONS
========================================================= */

.section{
  padding:100px 10%;
}

.section-title{
  margin-bottom:80px;
}

.section-title h2{
  font-size:3rem;
  margin-top:10px;

  color:#fff;

  position:relative;
}

.section-title h2::after{
  content:"";
  display:block;

  width:800px;
  height:2px;

  margin:40px auto 0;

  background:linear-gradient(
    to right,
    transparent,
    #00e0ff,
    transparent
  );

  box-shadow:0 0 15px rgba(0,224,255,0.4);
}

