/* =========================================================
   CONTACT
========================================================= */

.contact-container{
  text-align:center;
}

.contact-container p{
  font-size:1.3rem;
  margin-bottom:30px;
}

.contact-container a{
  color:#00e0ff;
  text-decoration:none;
  font-size:2rem;
}